body p.authenticated {
  color: green; }

body p.not-authenticated {
  color: red; }

body .loginbox-container {
  width: 100%;
  text-align: center; }

body .loginbox-container .loginbox {
  display: inline-block;
  width: auto; }
